<div class="row pt-5">
  <div class="col">
    <div class="card text-center">
      <div class="card-header card-title">
        <h3>Vagas</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          Módulo responsável pelas vagas ofertadas pela agência de RH.
        </p>
        <a href="/jobs" class="btn btn-primary mx-2">Listar Vagas</a>
        <a href="/registerJob" class="btn btn-success">Cadastrar Vagas</a>
      </div>
    </div>
  </div>
</div>
<div class="row pt-5">
  <div class="col">
    <div class="card text-center">
      <div class="card-header card-title">
        <h3>Em breve mais funções...</h3>
      </div>
      <div class="card-body">
        <p class="card-text"><br /><br /><br /></p>
        <!-- <a href="/jobs" class="btn btn-primary mx-2">Listar Vagas</a>
        <a href="/postJob" class="btn btn-success">Cadastrar Vagas</a> -->
      </div>
    </div>
  </div>
</div>
<div class="row pt-5">
  <div class="col">
    <div class="card text-center">
      <div class="card-header card-title">
        <h3>Em breve mais funções...</h3>
      </div>
      <div class="card-body">
        <p class="card-text"><br /><br /><br /></p>
        <!-- <a href="/jobs" class="btn btn-primary mx-2">Listar Vagas</a>
        <a href="/postJob" class="btn btn-success">Cadastrar Vagas</a> -->
      </div>
    </div>
  </div>
</div>
